* {
  margin: 0;
  bottom: 0;
}

/** Background **/
body {
    background-color: white;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
    
  }

/** Navigation Bar **/
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:50px;
    background-color: #4895ef;
    position: sticky;
    top: 0%;
    border: solid white 2px;
    flex-basis: content;
}
nav a{
    width:20vw;
    text-align: center;
    text-decoration: none;
    color:#ffd166;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0%;
}

/** Implement hover color change/transition to nav bar **/
#box1{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}

#box1:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box2{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}

#box2:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box3{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}

#box3:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box4{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}

#box4:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box5{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}

#box5:hover {
  background-color: #ffd166;
  color: #4895ef;
}


/** Opening Image **/
img{
  width: 100vw;
  height: 45vw;
  position: relative;
  margin: auto;
}

/** Title **/
 article h1{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.description {
  width: 85vw;
  height: 15vh;
  margin: auto;
  display: flex;
  margin-bottom: 15px;
  border: solid #4895ef 5px;
  flex-basis: content;
  
}
#color1{
  background-color: white;
  transition-duration: 0.5s;
}

#color1:hover {
  background-color: #4895ef;
  transition-delay: 0.5s;
}



/** Concert **/
.concert {
  width: 100vw;
  height: 69vh;
  background-color: #4895ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

/** Body Grid of date and text  padding top line hight**/
.main {
  width: 90%;
  background-color: #ffd166;
  color: #333;
}

.date {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #ffd166;
  color: #4895ef;
}

.date p{
  line-height: 10px;
}

/** Media**/
@media screen and (max-width: 400px){
  .concert{
    flex-direction: column;
    height: 100vw;
  }
  .description{
    flex-direction: column;
  }
}