* {
  margin: 0;
  bottom: 0;
}

/** Background **/
body {
    background-color: white;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

/** Navigation Bar **/
nav{
    height: 6vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #4895ef;
    position: sticky;
    top: 0%;
    border: solid white 2px;
    flex-basis: content;
    z-index: 1;
}
nav a{
    width: 15vw;
    text-align: center;
    text-decoration: none;
    color:#ffd166;
}

/** Implement hover color change/transition to nav bar **/
#box1{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}
#box1:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box2{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}
#box2:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box3{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}
#box3:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box4{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}
#box4:hover {
  background-color: #ffd166;
  color: #4895ef;
}

#box5{
  background-color: #4895ef;
  color: #ffd166;
  transition-duration: 0.5s;
}
#box5:hover {
  background-color: #ffd166;
  color: #4895ef;
}

.imageHolder{
  width: 100vw;
}
/** Opening Image **/
img{
  max-width: 100%;
  position: relative;
  margin: auto;
}

/** Title **/
 article h1{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

/** Main Description **/
.description {
  width: 85vw;
  margin: auto;
  display: flex;
  margin-bottom: 3vw;
  border: solid #4895ef 5px;
  flex-basis: content;
  
}

/** Description Hover Color Change **/
#color1{
  background-color: white;
  transition-duration: 0.5s;
}
#color1:hover {
  background-color: #4895ef;
  transition-delay: 0.5s;
}

/** Concert **/
.concert {
  width: 100vw;

  background-color: #4895ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vw;
  padding: 2vw;
}

/** Main info on Concert **/
.text {
  width: 90vw;
  background-color: #ffd166;
  color: #333;
}

/** Date of Concert **/
.date {
  width: 8vw;
  height: 12vh;
  text-align: center;
  background-color: #ffd166;
  color: #4895ef;
}
.date p{
  line-height: 10vw;
}



/** Media Quiery **/
@media screen and (max-width: 400px){

  nav{
    flex-direction: column;
    margin: auto;
    padding: 10vw;
    height: 30vw;
  }
  nav a{
    width: 80vw;
  }

  .concert{
    flex-direction: column;
    max-width: 100vw;
    
  }
  
  .date{
    flex-direction: column;
    width: 30vw;
    padding: 20px;
    border: solid #4895ef 5px;
  }
  
}