body{
    background-color: #253B3B;
    color: white;
}
.container{
    width: 1200px;
    height: 100px;
    padding: 10px;
    border: 5px solid #bde0fe;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.numberLocations{
    display: flex;
    flex-direction: row;
    
    background-color: white;
    margin-top: 15px;
    text-align: center;
}

.location{
    width: 50px;
    height: 50px;
 
    background-color: white;
    color: #979797;
    font-size: 35px;


    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#numberButtons{
    width: 1200px;
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

#press{
    margin-top: 25px; 
    width: 450px;
    text-align: center;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;

}

.button:hover
{
    background-color: #222222;
    color: white;
    border: 5px solid white;
}
.enterButton:hover
{
    background-color: #222222;
    color: white;
    border: 5px solid white;
}

.button, .enterButton{
    background-color: #253B3B;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;

    width: 100px;
    height: 100px;
    text-align:center;
    padding: 5px;
    margin: 5px;
    border: 5px solid #bde0fe;
    float: left;
    cursor: pointer;
    border-radius: 15px;
    font-size: 40px;
    
}

.clear{
    
    margin: auto;
    margin-right: 7%;
    display: flex;
    justify-content: right;
    font-size: 20px;


    background-color: #253B3B;
    color: white;
    width: 70px;
    height: 45px;
    text-align: center;

    
    padding: 7px;
    border: 5px solid #bde0fe;
    cursor: pointer;
    border-radius: 15px;
  
}
.clear:hover
{
    background-color: #222222;
    color: white;
    border: 5px solid white;
}

p{
    color: #bde0fe;
    font-size: 30px;
    text-align: center;
    margin-right: 3%;

}
