body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f1de;
}
nav{
    height: 60vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #81b29a;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:#3d405b;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 20vw;
    height: 50vh;
}

#red-ball{
    background-color: #e07a5f;
    width: 20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    left:20vw;
    top: 20px;;

    animation: bounce 2s infinite;
    animation-direction:alternate-reverse;

}

/** New **/
h1 {
    color: #f2cc8f;
    font-family: 'Pacifico', cursive;
}

#box1{
    background-color: #81b29a;
    color: #3d405b;
    transition-duration: 1s;
}

#box1:hover {
    background-color: #3d405b;
    color: #81b29a;
    transition-delay: 1s;
}

@keyframes bounce{
    from {
        margin-left: 0%;
        
    }
    16%, 48%, 78%, 100% {
        top: 70%;
        animation-timing-function: linear;
    }
    to {
        margin-left: 60%;
    }

}

/**
img{
    width:30vw;
    height: 30vh;
    animation-duration: 5s;
    animation-name: picmove;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes picmove{
    from {
        margin-top: 90%;
        width: 100%;
    }
    to {
        margin-top: 0%;
    }

}
/** border-radius: 50%;
    left:5vw;
    top:0;
    animation-duration: 3s;
    animation-name: ballmove;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse; 
    
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
    }**/